.catalogPage{
    display: flex;
    gap: 64px;
    justify-content: center;
}

.campersContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    flex:2;
}

.loadMoreBtn{
        background-color: #FFFFFF;
    color: #101828;
    border-radius: 200px;
    padding: 16px;
    display: flex;
    border: 1px solid #DADDE1;
    justify-content: center;
    text-decoration: none;
    margin: 24px;
    width: 170px;
    cursor: pointer;
}
.loadMoreBtn:hover{
        border: 1px solid #D84343;

}
/* CatalogPage.module.css */
.filterContainer {
  position: sticky;
  top: 20px; /* sayfanın üstünden ne kadar aşağıda sabitleneceğini belirtir */
  align-self: flex-start; /* eğer grid veya flex içindeyse yukarı hizalar */
  z-index: 10; /* gerektiğinde üste çıkması için */
  flex: 1;
}

.loadingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.noResults {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-top: 2rem;
  flex: 2;
}
