.featuresSection{
    background-color: #F7F7F7;
    margin-top:44px;
    border-radius: 10px;
}.featureItem{
    display: flex;
    width: 100%;
}
.featuresColumn{
padding: 44px 52px;
}
.featureLabel,
.featureValue{
gap: 8px;
border-radius: 100px;
padding: 12px;
text-transform: capitalize;
background-color: #F2F4F7;
display: flex;
align-items: center;
padding-left: 4%;
    padding-right: 4%;
font-weight: 600;
}