.headerContainer{
    display: flex;
  justify-content: space-between; /* Sağda başka bir şey varsa, gerekebilir */
  align-items: center;
  position: relative;
  background-color: #F7F7F7;
}
.headerText{
  padding:  28px 64px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.buttonContainer{
      position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
}
.button{
    color: #101828;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 10%;
text-align: center;

}

.active {
  color: #D84343;
}

.headerContainer{
  /* CatalogPage.module.css */
  position: sticky;
  top: 0; /* sayfanın üstünden ne kadar aşağıda sabitleneceğini belirtir */
  align-self: flex-start; /* eğer grid veya flex içindeyse yukarı hizalar */
  z-index: 100; /* gerektiğinde üste çıkması için */
}
