.filterContainer{
  margin-left:64px ;
  margin-top: 48px
}

.typeOptions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.filtersTitle{
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color:  #475467;
margin-top: 40px;
margin-bottom: 32px;

}
.filtersTitleLocation{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #6C717B;
}
.filtersTitleVehicle{
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
border-bottom: #DADDE1 solid 1px;
padding-bottom: 24px;
}
.filterSection{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}
.typeOptionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
}

.typeOptionButton input {
  display: none;
}

.typeOptionButton.active {
  background-color: #f0f0f0; /* Seçili buton rengi */
  border-color: #000;
}

.featureOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.featureOption {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}
/*-------------------- */

.featureOption {
  transition: border 0.3s ease;
}

.featureOption:checked {
  border: #E44848 solid 1px;
}

.featureOption:focus {
  border: #E44848 solid 1px;
}

.featureOption.active {
  border: #E44848 solid 1px;

}

.featureOption.active .featureIcon {
  transform: scale(1.1);
}


/* -------------------- */
.featureOptionContent{
  width: 112;
height: 96;
padding-top: 16px;
padding-right: 27px;
padding-bottom: 16px;
padding-left: 27px;
mix-blend-mode: Multiply;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureOption input {
  display: none;
}

  
.showMoreBtn{
      background-color: #E44848;
    color: #F2F4F7;
    border-radius: 200px;
    padding: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 24px;
    width: 170px;
    cursor: pointer;
    border: none;
}

.typeOptionButton{
  display: flex;
  align-items: center;
  flex-direction: column;
    width: 112;
height: 96;
padding-top: 16px;
padding-right: 27px;
padding-bottom: 16px;
padding-left: 27px;
mix-blend-mode: Multiply;
}

.locationInput {
background-image: url('../../assets/map-gray.svg');
background-repeat: no-repeat;
background-position: 10px center;
background-size: 20px;
padding-left: 40px;
border-color:#E44848;
border: none;
background-color: #F7F7F7;

}
.locationInput:focus{
  outline: none;
}

.activeInput {
background-image: url('../../assets/map.svg');
}

.input{
  width: 360;
height: 56;
gap: 10px;
border-radius: 12px;
padding-top: 18px;
padding-right: 285px;
padding-bottom: 18px;
padding-left: 18px;
background-color: #F7F7F7;

}