

:root {
  --color-101828: #101828;
  --color-475467: #475467;
  --color-6C717B: #6C717B;
  --color-E44848: #E44848;
  --color-D84343: #D84343;
  --color-FFC531: #FFC531;
  --color-DADDE1: #DADDE1;
  --color-F2F4F7: #F2F4F7;
  --color-F7F7F7: #F7F7F7;
  --color-FFFFFF: #FFFFFF;
}
* {
  transition: all 0.3s ease;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}


